body {
	
	font-family: Avenir, sans-serif;
	font-size: 15px;
}

#welcome-text {
	text-align: center;
	margin: 20px auto 20px auto;
}

#clock {
	font-family: Baskerville, serif; 
	text-align: center;
}

#current-time {
	font-size: 6em;
}

#current-date {
	font-size: 2em;
}

#activity-image {
	width: 50%;
	max-width: 300px;
	display: block;
    margin: 20px auto 20px auto;
}